.title {
  color: rgb(39, 34, 34);
  font-family: "monospace";
  text-shadow: 0.04em 0.04em 0 rgb(160, 162, 163);
  font-size: 6vh;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
}
.title-container {
  display: flex;
  align-items: baseline;
  padding-left: 80px;
}
.userinfo {
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 90px;
}
.user-date {
  display: flex;
  flex-direction: column;
}
.image {
  margin-right: 10px;
}
.username {
  font-size: 15px;
  margin-right: 10px;
  font-weight: 500;
}

.date {
  display: flex;
  font-size: 12px;
  flex-direction: row;
}
.content {
  text-align: justify;
  text-justify: inter-word;
  font-size: 4vh;
  line-height: 1.1;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  padding: 18vh;
  padding-top: 2%;
  justify-content: center;
  font-family: "ubuntu";
  color: rgb(48, 43, 43);
}

@media only screen and (max-width: 700px) {
  .title {
    color: rgb(39, 34, 34);
    font-family: "monospace";
    text-shadow: 0.04em 0.04em 0 rgb(160, 162, 163);
    font-size: 4vh;
    text-align: left;
    padding-left: 1vh;
    padding-right: 2vh;
  }
  .title-container {
    display: flex;
    align-items: baseline;
    padding-left: 50px;
  }
  .userinfo {
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    padding-left: 50px;
  }
  .user-date {
    display: flex;
    flex-direction: column;
  }
  .image {
    margin-right: 8px;
  }
  .username {
    font-size: 12px;
    margin-right: 8px;
    font-weight: 500;
  }
  
  .date {
    display: flex;
    font-size: 10px;
    flex-direction: row;
  }
  .content {
    text-align: justify;
    text-justify: inter-word;
    font-size: 2vh;
    line-height: 1.1;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    padding: 10vh;
    padding-top: 2%;
    justify-content: center;
    font-family: "ubuntu";
    color: rgb(48, 43, 43);
  }
}

@media only screen and (max-width: 500px) {
  .title {
    color: rgb(39, 34, 34);
    font-family: "monospace";
    text-shadow: 0.04em 0.04em 0 rgb(160, 162, 163);
    font-size: 3vh;
    text-align: left;
    padding-left: 0.3vh;
    padding-right: 1vh;
  }
  .title-container {
    display: flex;
    align-items: baseline;
    font-size: 3vh;
    padding-left: 20px;
  }
  .userinfo {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    padding-left: 20px;
  }
  .user-date {
    display: flex;
    flex-direction: column;
  }
  .image {
    margin-right: 5px;
    font-size: small;
  }
  .username {
    font-size: 9px;
    margin-right: 5px;
    font-weight: 500;
  }
  
  .date {
    display: flex;
    font-size: 7px;
    flex-direction: row;
  }
  .content {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.6vh;
    line-height: 1.1;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    padding: 5vh;
    padding-top: 2%;
    justify-content: center;
    font-family: "ubuntu";
    color: rgb(48, 43, 43);
  }
  
}

.back-button {
  cursor: pointer;
  border-radius: 28px;
}
.back {
  padding: 8px;
}
