<div class="back">
  <button mat-raised-button class="back-button" routerLink="/" routerLinkActive="active" color="primary">
    <mat-icon style="font-size: 20px; align-items: center">arrow_back</mat-icon>
  </button>
</div>

<div *ngIf="question.length > 0">
  <mat-card class="questionbox" *ngFor="let profile of question">
    <mat-card-header class="userinfo">
      <ngx-avatars [name]="profile.userId?.firstName + ' ' + profile.userId?.lastName" size="32"
        matSuffix></ngx-avatars>
        <div class="username">
          {{ profile.userId.firstName | titlecase }}
          {{ profile.userId.lastName | titlecase }}
        </div>
      <div class="createdAt" *ngIf="profile.createdAt">
        <span style="font-weight: 500"> Created </span>
        {{ profile.createdAt | date : "d MMM, yy" }}
      </div>
      <div class="updatedAt" *ngIf="profile.updatedAt">
        <span style="font-weight: 500">Updated </span>
        {{ profile.updatedAt | date : "d MMM, yy" }}
      </div>
</mat-card-header>
<mat-card-content class="forum">
  <div (click)="queClick(profile._id)">
    <mat-card-title class="question">{{ profile.question }}</mat-card-title>
  </div>
  <div>
    <mat-icon style="cursor: pointer; padding-right:10px" [routerLink]="['/update-forum', profile._id]"
      matTooltip="UpdateForum">edit</mat-icon>
    <mat-icon style="cursor: pointer" (click)="deleteForumDialog(profile._id)"
      matTooltip="Delete Forum">delete</mat-icon>
  </div>
</mat-card-content>
</mat-card>
</div>

<div class="noForums" *ngIf="question.length === 0">
  <div>
    <p>You have not added any forums!!<br />Add New Forums!!</p>
    <button routerLink="/createquestion" mat-raised-button color="primary">
      Ask Question
    </button>
  </div>
</div>