.back-button {
  cursor: pointer;
  border-radius: 28px;
}
.back {
  padding: 8px;
}
.que-ans-card {
  width: 65%;
  height: fit-content;
  margin: 10px auto auto auto; /* border-radius: 12px; */ /* box-shadow: 3px 3px 25px 0.8px rgb(177, 175, 173); */
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.userinfo {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.userinfo div {
  align-content: center;
}
.image {
  margin-right: 10px;
}
.img {
  width: 30px;
}
.user-date {
  display: flex;
  flex-direction: column;
}
.username {
  font-size: 15px;
  margin-right: 10px;
  font-weight: 500;
}
.date {
  display: flex;
  flex-direction: row;
}
@media (max-width: 304px) {
  .date {
    flex-direction: column;
  }
}
.createdAt {
  margin-right: 10px;
  font-size: 12px;
}
.updatedAt {
  font-size: 12px;
}
.icon {
  margin-left: auto;
  cursor: pointer;
}
.tag {
  font-size: small;
  font-weight: bold;
  height: 30px;
}
.queContent {
  height: fit-content;
  padding: 8px 16px;
}
.ansContent {
  height: fit-content;
  padding: 8px 16px;
}
.icon {
  margin-left: auto;
  cursor: pointer;
}
.tag {
  font-size: small;
  font-weight: bold;
  height: 30px;
}
.queContent {
  height: fit-content;
  padding: 8px 16px;
}
.ansContent {
  height: fit-content;
  padding: 8px 16px;
}
.head {
  font-size: larger;
  font-weight: 500;
}
.ans-container {
  padding: 8px 0;
}
.ans-vote {
  display: flex;
  flex-direction: row;
}
.votes {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  padding-bottom: 16px;
}
.head {
  font-size: larger;
  font-weight: 500;
}
.ans-container {
  padding: 8px 0;
}
.ans-vote {
  display: flex;
  flex-direction: row;
}
.votes {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  padding-bottom: 16px;
}
.vote {
  cursor: pointer;
}
.vote {
  cursor: pointer;
}
.counter {
  text-align: center;
  font-size: 14px;
  margin-top: -8px;
}
.counter {
  text-align: center;
  font-size: 14px;
  margin-top: -8px;
} /* .answers{       background-color: rgb(243, 216, 180);       border-radius: 6px;     padding: 4px;   } */
.postbtn {
  padding-top: 10px;
} /* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .que-ans-card {
    width: 100%;
    height: fit-content;
    margin: 0px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .que-ans-card {
    width: 100%;
    height: fit-content;
    margin: 0px;
  }
  .container {
    width: 100%;
  }
}
